---
---

<div>
  <p>
    Dibawah adalah side project saya:
  </p>
  <ul class="mt-5">
    <li>
      <strong>Howtosay.</strong>
      Website untuk mencari cara pengucapan kalimat dalam bahasa inggris melalui video <a href="https://tailwindcss.com">Tailwind</a>.
    </li>
  </ul>
</div>

